<form action="/QandA/AnsSave" method="post">
    <fieldset>
        <legend>Add Answer</legend>
        <p>
            <label><b>Username</b></label><br />
            <input type="text"
                   name="username" />
        </p>
        <p>
            <label><b>Description</b></label><br />
            <textarea name="detail"
                      rows="20"
                      cols="150">
                </textarea>
        </p>
        <br><br>
        <input type="submit" value="Submit">
        <input type="hidden" name="_id" value="@ViewBag.QuestionID" />
    </fieldset>
</form>