@model Question

<h1>@Model.Username</h1>
<h6><i>@Model.Posted</i></h6>
<h6>Author: @Model.Username</h6>
<br /><br />
<p>@Model.Detail</p>
<br /><br /><br />
<button onclick="location.href='/QandA/Edit?_id=@Model.id'">EDIT</button>
<button onclick="location.href='/QandA/Delete?_id=@Model.id'">DELETE</button>
<br /><br />
<button onclick="location.href='/QandA/Answer?_id=@Model.id'">Add an Answer</button>
<button onclick="location.href='/QandA/Close?_id=@Model.id&status=1'">Mark as Resolved</button>



