<h1>Welcome to Dapper OverFlow!!!</h1>

<form action="/QandA/Index" method="post">
    <input type="text" name="activeUser" placeholder="Username" required />
    <input type="submit" value="Login" />
</form>
